.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.perspective.active {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  background: #0b0c0c;
  height: 100vh; }

.content.active {
  -webkit-transform: translateZ(-1800px) translateX(-30%) rotateY(45deg);
          transform: translateZ(-1800px) translateX(-30%) rotateY(45deg);
  border: 35px solid #0f33ff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .content.active:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    cursor: pointer;
    z-index: 10000; }

.content {
  width: 100%;
  height: 100vh;
  background: #0b0c0c;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 0px solid #0f33ff; }
  .content .wrapper {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative; }
  .content__header {
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
    position: relative; }
    .content__header .header__hire-btn {
      visibility: hidden;
      width: 90px;
      height: 31px;
      background: #0f33ff;
      font-family: "Montserrat";
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      opacity: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      text-decoration: none;
      margin-left: 58px; }
    .content__header .header__hire-btn.active {
      visibility: visible;
      opacity: 1; }
    .content__header .header__logo {
      color: #ffffff;
      font-family: "Lato";
      text-transform: uppercase;
      font-size: 8px;
      letter-spacing: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none; }
      .content__header .header__logo h1 {
        margin-left: 13px; }
    .content__header .header__hamburger {
      background: transparent;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      cursor: pointer;
      outline: none; }
      .content__header .header__hamburger span {
        background: #ffffff;
        width: 19px;
        height: 2px;
        display: block; }
        .content__header .header__hamburger span:nth-child(2) {
          margin-top: 4px;
          margin-bottom: 4px;
          margin-left: 3px;
          width: 13px; }
  .content__nav {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1; }
    .content__nav ul {
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      border-left: 2px solid #1b1b1b;
      font-family: "Montserrat"; }
      .content__nav ul li {
        margin-left: 15px;
        list-style: none;
        position: relative; }
        .content__nav ul li:before {
          content: "";
          width: 2px;
          height: 2px;
          border-radius: 100%;
          display: block;
          background: #ffffff;
          position: absolute;
          opacity: 0.2s;
          left: -17px;
          top: 7.5px; }
        .content__nav ul li:not(:first-of-type) {
          margin-top: 100px; }
        .content__nav ul li a:not(.nav__number) {
          color: #ffffff;
          font-size: 14px;
          text-decoration: none;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
        .content__nav ul li .nav__number {
          color: #555555;
          text-decoration: none;
          font-size: 14px;
          position: absolute;
          left: 0px;
          top: 2px; }
        .content__nav ul li.active a {
          opacity: 1;
          visibility: visible; }
        .content__nav ul li.active:before {
          background: #0f33ff; }
        .content__nav ul li.active .nav__number {
          position: absolute;
          left: -45px;
          top: 1px;
          color: #ffffff; }
  .content__container {
    width: 400px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .content__container .content__section {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 150px;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto; }
      .content__container .content__section.active {
        visibility: visible;
        opacity: 1; }

.home {
  width: 904px;
  height: 580px;
  margin-left: 100px;
  position: relative; }
  .home__header {
    width: 100%;
    height: 467px;
    border-bottom: 1px solid #151515;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url("imgs/spaceman.png") no-repeat right bottom; }
    .home__header h2 {
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 62px;
      width: 400px; }
    .home__header .home__btn {
      width: 101px;
      height: 31px;
      background: #0f33ff;
      border: none;
      color: #ffffff;
      font-family: "Montserrat";
      font-weight: bold;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 90px;
      outline: none; }
      .home__header .home__btn p {
        margin: 0;
        position: absolute;
        left: -14px;
        font-size: 14px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .home__header .home__btn span {
        margin-left: 55px;
        font-size: 25px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .home__header .home__btn:focus p, .home__header .home__btn:hover p {
        left: 18px; }
      .home__header .home__btn:focus span, .home__header .home__btn:hover span {
        margin-left: 84px; }
    .home__header:after {
      content: '';
      display: block;
      width: 30px;
      height: 6px;
      background: #0f33ff;
      position: absolute;
      bottom: -7px;
      left: 14px; }
  .home__tabs {
    width: 100%;
    height: 19%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .home__tabs .tab:not(:nth-child(1)) {
      margin-left: 60px; }
    .home__tabs .tab {
      color: #242424;
      width: 245px;
      font-family: "Montserrat";
      cursor: pointer; }
      .home__tabs .tab:hover {
        color: #ffffff; }
        .home__tabs .tab:hover p {
          color: rgba(255, 255, 255, 0.9); }
      .home__tabs .tab h3 {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .home__tabs .tab p {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-size: 14px;
        color: #242424; }

.works {
  width: 1000px;
  height: 574px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .works h2 {
    font-family: "Montserrat";
    color: #ffffff;
    margin-bottom: 60px;
    font-size: 28px;
    letter-spacing: 1px; }
  .works__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .works__slider .slider__content.hide {
      visibility: hidden;
      opacity: 0; }
    .works__slider .slider__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .works__slider .slider__content .works__item.main img {
        width: 300px;
        height: 300px; }
      .works__slider .slider__content .works__item.main .work__title {
        color: #ffffff;
        margin-top: 26px;
        font-size: 18px; }
      .works__slider .slider__content .works__item.main .work__description {
        visibility: visible; }
      .works__slider .slider__content .works__item {
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-family: "Montserrat"; }
        .works__slider .slider__content .works__item .work__title {
          color: #868686;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          margin-top: 10px; }
        .works__slider .slider__content .works__item .work__description {
          text-align: center;
          line-height: 28px;
          font-size: 16px;
          margin-top: 5px;
          visibility: hidden; }
        .works__slider .slider__content .works__item img {
          width: 167px;
          height: 168px; }
  .works .slider__btn {
    background: #282828;
    cursor: pointer;
    outline: none;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    width: 54px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative;
    top: -50px;
    height: 54px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .works .slider__btn:focus, .works .slider__btn:hover {
      background: #ffffff;
      color: #282828; }

.about {
  width: 864px;
  height: 555px;
  background: url("imgs/about-bg.png") no-repeat right; }
  .about__header {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 62px;
    margin-top: 20px;
    position: relative;
    width: 400px; }
    .about__header:after {
      content: '';
      width: 31px;
      height: 31px;
      display: block;
      background: #0f33ff;
      border-radius: 50%;
      position: absolute;
      top: 61px;
      left: 243.5px; }
    .about__header:before {
      content: '';
      width: 9px;
      height: 9px;
      background: #0f33ff;
      display: block;
      position: absolute;
      bottom: 12.1px;
      right: 159px; }
  .about__btn {
    background: transparent;
    color: #ffffff;
    border: none;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    outline: none; }
    .about__btn:after {
      content: '';
      border: 7px solid #0f33ff;
      border-right-color: transparent;
      border-bottom-color: transparent;
      display: block;
      position: absolute;
      top: -5px;
      left: 200px;
      -webkit-transform: rotate(-25deg);
          -ms-transform: rotate(-25deg);
              transform: rotate(-25deg); }
    .about__btn:before {
      content: '';
      width: 12px;
      height: 12px;
      background: #0f33ff;
      display: block;
      position: absolute;
      top: 50px;
      right: 450px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .about__btn:focus, .about__btn:hover {
      margin-left: 15px; }
    .about__btn span {
      margin-left: 15px; }
  .about__items {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .about__items .about__box:not(:first-of-type) {
      margin-left: 30px; }
    .about__items .about__box {
      width: 192px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: relative;
      text-decoration: none;
      outline: none; }
      .about__items .about__box:focus img, .about__items .about__box:hover img {
        -webkit-transform: scale(1.02);
            -ms-transform: scale(1.02);
                transform: scale(1.02); }
      .about__items .about__box:focus h3, .about__items .about__box:hover h3 {
        top: -11px; }
      .about__items .about__box img {
        border: 11px solid #0f33ff;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .about__items .about__box h3 {
        color: #ffffff;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 14px;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        top: -13px;
        left: 20px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        letter-spacing: 1px; }

.contact {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact__bg {
    position: fixed;
    background: url("imgs/contact.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .contact__info {
    width: 310px;
    height: 375px;
    background: #000000;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact__info p:first-of-type {
      margin-top: 30px; }
    .contact__info p:not(:first-of-type) {
      margin-top: 25px; }
    .contact__info p:last-of-type {
      margin-bottom: 30px; }
    .contact__info p {
      color: #ffffff;
      text-align: center;
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 15px;
      margin: 0; }
    .contact__info .contact__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none; }
    .contact__info .contact__link.behance {
      width: 132px;
      height: 42px;
      border: none;
      color: #ffffff;
      background: #1769ff;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: bold;
      text-transform: none; }
    .contact__info .contact__link.dribbble {
      width: 132px;
      height: 42px;
      border: none;
      color: #ffffff;
      background: #ea4c89;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: bold;
      text-transform: none;
      font-style: italic;
      margin-top: 25px; }
    .contact__info .contact__link.contact {
      width: 132px;
      height: 42px;
      border: none;
      color: #ffffff;
      background: #0f33ff;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: bold;
      text-transform: none;
      letter-spacing: 1px;
      margin-top: 25px; }

.hire {
  height: 550px; }
  .hire h2 {
    font-family: "Montserrat";
    color: #ffffff;
    margin-bottom: 60px;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    margin-top: -15px; }
  .hire__checkboxes {
    height: 300px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hire__checkboxes .hire__checkbox-container {
      width: 200px;
      height: 54px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      text-align: center;
      font-size: 18px;
      font-family: "Montserrat";
      position: relative;
      line-height: 58px;
      font-weight: bold;
      letter-spacing: 1px; }
      .hire__checkboxes .hire__checkbox-container:not(:first-of-type) {
        margin-left: 50px; }
      .hire__checkboxes .hire__checkbox-container .checkbox__bg {
        width: 100%;
        height: 100%;
        background: transparent;
        display: block;
        position: absolute;
        border: 3px solid #ffffff;
        top: 0;
        z-index: -1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .hire__checkboxes .hire__checkbox-container .checkbox__checkmark {
        overflow: hidden; }
        .hire__checkboxes .hire__checkbox-container .checkbox__checkmark .fa {
          width: 0;
          opacity: 0;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .hire__checkboxes .hire__checkbox-container .checkbox__tohide {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0; }
        .hire__checkboxes .hire__checkbox-container .checkbox__tohide:checked ~ .checkbox__checkmark .fa {
          width: 20px;
          opacity: 1; }
        .hire__checkboxes .hire__checkbox-container .checkbox__tohide:checked ~ .checkbox__bg {
          border: 3px solid #0f33ff;
          background: #0f33ff; }
  .hire__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
  .hire__form {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hire__form .hire__inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .hire__form .hire__inputs .hire__input-container {
        position: relative; }
        .hire__form .hire__inputs .hire__input-container:not(:first-of-type) {
          margin-left: 60px; }
        .hire__form .hire__inputs .hire__input-container .hire__input {
          width: 316px;
          height: 40px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #efefef;
          outline: none;
          color: #efefef;
          font-size: 26px;
          font-family: "Montserrat"; }
          .hire__form .hire__inputs .hire__input-container .hire__input:valid + label,
          .hire__form .hire__inputs .hire__input-container .hire__input:focus + label {
            font-size: 18px;
            top: -10px; }
        .hire__form .hire__inputs .hire__input-container label {
          position: absolute;
          color: #efefef;
          font-family: "Montserrat";
          font-size: 26px;
          left: 0;
          top: 0;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          cursor: text; }
    .hire__form .hire__btn {
      width: 400px;
      height: 51px;
      border: none;
      background: #0f33ff;
      font-family: "Montserrat";
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 15px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 60px; }

.navbar {
  display: none; }
  .navbar ul {
    margin: 0; }

.perspective.active {
  overflow: hidden; }
  .perspective.active .navbar {
    height: auto;
    font-family: "Montserrat";
    position: absolute;
    text-align: right;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
    .perspective.active .navbar__top {
      width: 100%;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .perspective.active .navbar__top .navbar__logo {
        color: #ffffff;
        font-family: "Lato";
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none;
        margin-left: 60px; }
        .perspective.active .navbar__top .navbar__logo p {
          margin-left: 13px; }
      .perspective.active .navbar__top .navbar__close {
        background: none;
        border: none;
        color: #ffffff;
        margin-right: 60px;
        font-size: 30px;
        cursor: pointer;
        outline: none; }
    .perspective.active .navbar ul {
      list-style: none;
      margin-right: 400px;
      line-height: 55px; }
      .perspective.active .navbar ul li {
        position: relative; }
        .perspective.active .navbar ul li a.active:before {
          content: '';
          width: 100%;
          height: 10px;
          background: #0f33ff;
          display: block;
          position: absolute;
          top: 33px;
          padding-left: 20px;
          left: -10px; }
        .perspective.active .navbar ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 55px;
          position: relative;
          font-weight: bold; }
