.hire {
    height: 550px;

    h2 {
        font-family: $font-mont;
        color: $white;
        margin-bottom: 60px;
        font-size: 28px;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
        margin-top: -15px;
    }

    &__checkboxes {
        height: 300px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .hire__checkbox-container {
            width: 200px;
            height: 54px;
            color: $white;
            cursor: pointer;
            display: block;
            text-align: center;
            font-size: 18px;
            font-family: $font-mont;
            position: relative;
            line-height: 58px;
            font-weight: bold;
            letter-spacing: 1px;

            &:not(:first-of-type) {
                margin-left: 50px;
            }

            .checkbox__bg {
                width: 100%;
                height: 100%;
                background: transparent;
                display: block;
                position: absolute;
                border: 3px solid $white;
                top: 0;
                z-index: -1;
                transition: 0.3s;
            }

            .checkbox__checkmark {
                overflow: hidden;
                
                .fa {
                    width: 0;
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            .checkbox__tohide {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~ .checkbox__checkmark .fa {
                    width: 20px;
                    opacity: 1;
                }

                &:checked ~ .checkbox__bg {
                    border: 3px solid $blue;
                    background: $blue;
                }
            }
        }
    }

    &__row {
        display: flex;
        margin-top: 40px;
    }

    &__form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .hire__inputs {
            display: flex;
            justify-content: center;
            .hire__input-container {
                position: relative;

                &:not(:first-of-type) {
                    margin-left: 60px;
                }

                .hire__input {
                    width: 316px;
                    height: 40px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #efefef;
                    outline: none;
                    color: #efefef;
                    font-size: 26px;
                    font-family: $font-mont;

                    &:valid + label,
                    &:focus + label {
                        font-size: 18px;
                        top: -10px;
                    }
                }

                label {
                    position: absolute;
                    color: #efefef;
                    font-family: $font-mont;
                    font-size: 26px;
                    left: 0;
                    top: 0;
                    transition: 0.3s;
                    cursor: text;
                }
            }
        }

        .hire__btn {
            width: 400px;
            height: 51px;
            border: none;
            background: $blue;
            font-family: $font-mont;
            font-weight: bold;
            text-transform: uppercase;
            color: $white;
            font-size: 15px;
            letter-spacing: 1px;
            cursor: pointer;
            margin-top: 60px;
        }
    }
}

@media (max-width: 864px) {
    .hire {
        .hire__checkboxes {
            height: auto;
        }
        .hire__row {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            .hire__checkbox-container {
                margin: 0;
                margin-top: 30px;
            }
        }

        .hire__form {
            .hire__inputs {
                flex-direction: column;
                margin-left: -200px;
                .hire__input-container {
                    width: 100px;
                    margin: 0;
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
        }
    }
}