.home {
    width: 904px;
    height: 580px;
    margin-left: 100px;
    position: relative;

    &__header {
        width: 100%;
        height: 467px;
        border-bottom: 1px solid #151515;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
        background: url('imgs/spaceman.png') no-repeat right bottom;

        h2 {
            color: $white;
            font-family: $font-mont;
            font-size: 62px;
            width: 400px;
        }

        .home__btn {
            width: 101px;
            height: 31px;
            background: $blue;
            border: none;
            color: $white;
            font-family: $font-mont;
            font-weight: bold;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            cursor: pointer;
            margin-bottom: 90px;
            outline: none;

            p {
                margin: 0;
                position: absolute;
                left: -14px;
                font-size: 14px;
                transition: 0.5s;
            }

            span {
                margin-left: 55px;
                font-size: 25px;
                transition: 0.5s;
            }

            &:focus,
            &:hover {
                p {
                    left: 18px;
                }

                span {
                    margin-left: 84px;
                }
            }
        }

        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 6px;
            background: $blue;
            position: absolute;
            bottom: -7px;
            left: 14px;
        }
    }

    &__tabs {
        width: 100%;
        height: 19%;
        display: flex;
        align-items: flex-end;

        .tab:not(:nth-child(1)) {
            margin-left: 60px;
        }

        .tab {
            color: #242424;
            width: 245px;
            font-family: $font-mont;
            cursor: pointer;

            &:hover {
                color: $white;

                p {
                    color: rgba(255, 255, 255, 0.9);
                }
            }

            h3 {
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 1px;
                transition: 0.3s;
            }

            p {
                transition: 0.3s;
                font-size: 14px;
                color: #242424;
            }
        }
    }
}